body.login {
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://media.istockphoto.com/id/638815446/es/vector/vector-fondo-m%C3%A9dica-de-adn.jpg?s=612x612&w=0&k=20&c=icZJEVe1Pk1W15i41zv4I8eP1veToPw5EdsKmnYJVRc=') no-repeat center center fixed;
  background-size: cover;
}

.login-container {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login-container h2 {
  color: white;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-container input[type="checkbox"] {
  margin-right: 10px;
}

.login-container label {
  color: white;
}

.login-container button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .forgot-password {
  color: white;
  display: block;
  margin-top: 10px;
}

.login-container .input-icon {
  position: relative;
}

.login-container .input-icon input {
  padding-left: 30px;
}

.login-container .input-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

:root {
  --sidebar-bg-color: #007bff;
  --sidebar-hover-bg-color: #0056b3;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.sidebar {
  min-width: 250px;
  background-color: var(--sidebar-bg-color);
  position: fixed;
  height: 100vh;
  padding-top: 20px;
}

.nav-link:hover {
  background-color: var(--sidebar-hover-bg-color);
  border-radius: 5px;
}

.main-content {
  margin-left: 250px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background: url('https://png.pngtree.com/thumb_back/fw800/background/20231230/pngtree-free-vector-of-white-elegant-textured-wallpaper-image_13925540.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 20px;
  max-width: 1000%;
  width: 100%;
  height: auto;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  margin: 0;
}

h2 {
  margin-top: 20px;
  text-align: left;
}

.form-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 10px;
}

label {
  font-weight: bold;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

button[type="submit"] {
  grid-column: span 4;
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.button-container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.button-salir {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  width: auto;
}

.button-salir:hover {
  background-color: #0056b3;
}

.table-responsive {
  width: 3000;
  margin-top: 30px;
  overflow-x: auto;
}

.table-section {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.table {
  margin-top: 20px;
  border-radius: 0.5rem;
  overflow: hidden;
}

.table th, .table td {
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

th {
  background-color: #f2f2f2;
}

.button-edit {
  background-color: #f0ad4e;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.button-delete {
  background-color: #d9534f;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
}

.button-edit:hover, .button-delete:hover {
  transform: scale(1.05);
}

.button-edit:active, .button-delete:active {
  transform: scale(0.95);
}
.btn {
  margin: 5px;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

#search_name {
  width: 1086px;
}